<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafío Black and White</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1 class="title">Black and White Spa</h1>
    <div>
        <form class="form-container" action="/editar" method="post">
            <div class="formulario">
                <label for="fname">Imagen URL:</label>
                <input class="url" name="url" id="fname" ></input>
                <button class="boton" type="submit">Subir imagen al servidor</button>
            </div>
            
        </form>
    </div>
</body>
</html>