<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafío Black and White</title>
</head>
<body>
    <h1>Cambiador de fotos</h1>
    <div>
        <form action="/editar">
            <div>
                <label for="fname">Imagen url:</label><br>
                <input name="text" id="fname" ></input>
            </div>
            <button type="submit">Subir imagen al servidor</button>
        </form>
    </div>
</body>
</html>